numpy==1.20.1
arborize==4.0.0a1
nrn-glia==4.0.0a0
dbbs-mod-collection==2.2.0b1
nrn-patch==4.0.0a0
efel==3.0.70
ndsb==2.0.0
plotly==4.11.0
pygithub==1.53
kaleido==0.0.3.post1
neuron==7.8.2
h5py==3.1.0
coverage==5.4
morphio==3.3.6