name: Build and test DBBS Models

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install apt dependencies
      run: |
        sudo apt-get update
        sudo apt-get install openmpi-bin libopenmpi-dev
    # - name: Install NEST
    #   run: |
    #     bash -o errexit devops/install.sh
    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-
    - name: Install dependencies & self
      run: |
        python -m pip install --upgrade pip
        pip install wheel
        pip install -r requirements.txt --prefer-binary
        pip install -e .
    - name: Run tests & coverage
      run: |
        coverage run -p -m unittest discover -v -s ./tests
        # mpiexec -n 4 coverage run -p -m unittest discover -v -s ./tests
        bash <(curl -s https://codecov.io/bash)
    - name: Beam ndsv artifacts
      run: |
        python devops/travis/upload_artifacts.py
